name: CI/CD

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    name: Test and build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup node & npm
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - run: pnpm install

      # - name: Test
      #   run: pnpm test

      - name: Build
        run: pnpm build

      - name: Cache build artifacts
        uses: actions/cache@v3
        with:
          path: "**/dist"
          key: build-artifacts-${{ github.sha }}

  publish:
    name: Publish to NPM
    runs-on: ubuntu-latest
    needs: build

    env:
      NODE_ENV: production

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Restore build artifacts
        uses: actions/cache@v3
        with:
          path: "**/dist"
          key: build-artifacts-${{ github.sha }}

      - name: Setup node & npm
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Publish to NPM
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          npm config set "//registry.npmjs.org/:_authToken" "${NPM_TOKEN}"
          # determine version from tag and publish with appropriate tag
          version=${GITHUB_REF#refs/tags/}
          if [[ "$version" == *"-beta"* ]]; then
            echo "Publishing beta version $version with tag 'beta'"
            npm publish . --tag beta --access=public --no-git-checks
          else
            echo "Publishing version $version with default tag"
            npm publish . --access=public --no-git-checks
          fi

  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: publish

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Create release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          body: |
            Version ${{ github.ref }}
          draft: false
          prerelease: false
